<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>DOCXImport</name>
  <type>input</type>
  <author>DiapDealer</author>
  <description>Import DOCX files for editing in Sigil</description>
  <engine>python3.4</engine>
  <version>0.2.5</version>
  <oslist>osx,unx,win</oslist>
  <autostart>true</autostart>
  <autoclose>false</autoclose>
</plugin>
